version: '3.8'

services:
  qwen30b_quantized:
    image: nvcr.io/nvidia/vllm:25.09-py3
    container_name: qwen30b_quantized

    network_mode: "host"
    ipc: "host"

    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - HF_HOME=/root/.cache/huggingface
      - VLLM_CACHE_DIR=/root/.cache/vllm
      - VLLM_ATTENTION_BACKEND=FLASHINFER

    shm_size: "16g"
    ulimits:
      memlock: -1
      stack: 67108864

    volumes:
      - ./hf-cache:/root/.cache/huggingface
      - ./vllm-cache:/root/.cache/vllm

    command: >
      python -m vllm.entrypoints.openai.api_server
        --model RedHatAI/Qwen3-30B-A3B-quantized.w4a16
        --host 0.0.0.0
        --port 8000
        --dtype auto
        --tensor-parallel-size 1
        --max-model-len 4096
        --gpu-memory-utilization 0.3
        --swap-space 16
        --max-num-seqs 2
        --enable-auto-tool-choice
        --tool-call-parser qwen3_coder

    restart: unless-stopped

  riva_speech:
    image: openmindagi/riva-speech-server:2.24.0-l4t-aarch64
    container_name: riva_speech
    restart: unless-stopped

    ipc: host
    runtime: nvidia

    ports:
      - "50051:50051"
      - "50000:50000"
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8888:8888"

    environment:
      - RIVA_SERVER_HTTP_PORT=50000
      - NMT_REMOTE_ASR_SERVICE=0.0.0.0:50051
      - NMT_REMOTE_TTS_SERVICE=0.0.0.0:50051
      - LD_PRELOAD=
      - RIVA_API_KEY=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
      - RIVA_API_NGC_ORG=openmind-1
      - RIVA_EULA=accept

    volumes:
      - ~/riva_quickstart_arm64_v2.24.0/model_repository:/data

    devices:
      - /dev/bus/usb:/dev/bus/usb:rwm
      - /dev/snd:/dev/snd:rwm

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]

    shm_size: "16g"
    ulimits:
      memlock: -1
      stack: 67108864

    security_opt:
      - label:disable
