name: Run Lint

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y portaudio19-dev python3-pyaudio

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.0.1
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: poetry install --no-interaction --with dev

      - name: Run Pyright
        run: poetry run pyright --project ./pyrightconfig.json

      - name: Run Ruff
        run: poetry run ruff check .

      - name: Run Black
        run: poetry run black --check .

      - name: Run isort
        run: poetry run isort --check-only .

      - name: Run vulture
        run: poetry run vulture src/

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit hooks
        id: pre-commit
        run: |
          pre-commit run --all-files --show-diff-on-failure
